.menuContainer--info-menu .menuItem:first-child .styledLink{
    color: #234d25;
    font-size: 16px;
    font-weight: bold;
}

.menuContainer--info-menu .styledLink{
    font-size: 12px;
    text-decoration: none;
}

@media only screen and (max-width: 640px){

    .menuContainer--info-menu .menuItem{
        display: flex;
        justify-content: center;
    }
}