.container{
    background: #333333;
    height: 50px;
}

.container span , .container a{
    color: #fff;
}

.itemContainer{
    height: 50px;
    z-index: 999;
}

.itemContainer .itemContainer{
    height: auto;
    z-index: 999;
}

